@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Great+Vibes&family=Inconsolata:wght@200;300;400;500;600;700;800&family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:wght@300;400;500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply font-[Montserrat];
    }
    li{
        @apply px-4;
        @apply cursor-pointer;
    }
   
}

.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;

}

.content-div:hover{
    background-image: linear-gradient(to right,rgba(112,157,255,.8),hsla(242,74%,615,0.8));
}
